In [1]:
import pandas as pd
tickets = pd.read_csv('Tickets_Nov2.csv')

In [2]:
tickets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1921 entries, 0 to 1920
Data columns (total 8 columns):
assigned_to_id           1921 non-null int64
category_id              1921 non-null int64
completed_at             1921 non-null object
business_hours_opened    1921 non-null object
deadline                 1921 non-null object
past_due                 0 non-null float64
created_at               1921 non-null object
is_past_deadline         1921 non-null bool
dtypes: bool(1), float64(1), int64(2), object(4)
memory usage: 107.1+ KB

In [3]:
print(tickets.isnull().sum())

assigned_to_id              0
category_id                 0
completed_at                0
business_hours_opened       0
deadline                    0
past_due                 1921
created_at                  0
is_past_deadline            0
dtype: int64

In [4]:
# formatting whole hours and time to unique text format in pandas
tickets["completed_at"]=tickets["completed_at"].str.replace(", 1 p.m.",", 1:00 p.m.").str.replace(", 2 p.m.",", 2:00 p.m.").str.replace(", 3 p.m.",", 3:00 p.m.").str.replace(", 4 p.m.",", 4:00 p.m.").str.replace(", 5 p.m.",", 5:00 p.m.").str.replace(", 6 p.m.",", 6:00 p.m.").str.replace(", 7 p.m.",", 7:00 p.m.").str.replace(", 8 p.m.",", 8:00 p.m.").str.replace(", 9 p.m.",", 9:00 p.m.").str.replace(", 10 p.m.",", 10:00 p.m.").str.replace(", 11 p.m.",", 11:00 p.m.").str.replace(", 12 p.m.",", 12:00 p.m.").str.replace(", 1 a.m.",", 1:00 a.m.").str.replace(", 2 a.m.",", 2:00 a.m.").str.replace(", 3 a.m.",", 3:00 a.m.").str.replace(", 4 a.m.",", 4:00 a.m.").str.replace(", 5 a.m.",", 5:00 a.m.").str.replace(", 6 a.m.",", 6:00 a.m.").str.replace(", 7 a.m.",", 7:00 a.m.").str.replace(", 8 a.m.",", 8:00 a.m.").str.replace(", 9 a.m.",", 9:00 a.m.").str.replace(", 10 a.m.",", 10:00 a.m.").str.replace(", 11 a.m.",", 11:00 a.m.").str.replace(", 12 a.m.",", 12:00 a.m.").str.replace(", midnight",", 12:00 a.m.").str.replace(", noon",", 12:00 p.m.").str.replace("Sept","Sep")
tickets["deadline"]=tickets["deadline"].str.replace(", 1 p.m.",", 1:00 p.m.").str.replace(", 2 p.m.",", 2:00 p.m.").str.replace(", 3 p.m.",", 3:00 p.m.").str.replace(", 4 p.m.",", 4:00 p.m.").str.replace(", 5 p.m.",", 5:00 p.m.").str.replace(", 6 p.m.",", 6:00 p.m.").str.replace(", 7 p.m.",", 7:00 p.m.").str.replace(", 8 p.m.",", 8:00 p.m.").str.replace(", 9 p.m.",", 9:00 p.m.").str.replace(", 10 p.m.",", 10:00 p.m.").str.replace(", 11 p.m.",", 11:00 p.m.").str.replace(", 12 p.m.",", 12:00 p.m.").str.replace(", 1 a.m.",", 1:00 a.m.").str.replace(", 2 a.m.",", 2:00 a.m.").str.replace(", 3 a.m.",", 3:00 a.m.").str.replace(", 4 a.m.",", 4:00 a.m.").str.replace(", 5 a.m.",", 5:00 a.m.").str.replace(", 6 a.m.",", 6:00 a.m.").str.replace(", 7 a.m.",", 7:00 a.m.").str.replace(", 8 a.m.",", 8:00 a.m.").str.replace(", 9 a.m.",", 9:00 a.m.").str.replace(", 10 a.m.",", 10:00 a.m.").str.replace(", 11 a.m.",", 11:00 a.m.").str.replace(", 12 a.m.",", 12:00 a.m.").str.replace(", midnight",", 12:00 a.m.").str.replace(", noon",", 12:00 p.m.").str.replace("Sept","Sep")
tickets["created_at"]=tickets["created_at"].str.replace(", 1 p.m.",", 1:00 p.m.").str.replace(", 2 p.m.",", 2:00 p.m.").str.replace(", 3 p.m.",", 3:00 p.m.").str.replace(", 4 p.m.",", 4:00 p.m.").str.replace(", 5 p.m.",", 5:00 p.m.").str.replace(", 6 p.m.",", 6:00 p.m.").str.replace(", 7 p.m.",", 7:00 p.m.").str.replace(", 8 p.m.",", 8:00 p.m.").str.replace(", 9 p.m.",", 9:00 p.m.").str.replace(", 10 p.m.",", 10:00 p.m.").str.replace(", 11 p.m.",", 11:00 p.m.").str.replace(", 12 p.m.",", 12:00 p.m.").str.replace(", 1 a.m.",", 1:00 a.m.").str.replace(", 2 a.m.",", 2:00 a.m.").str.replace(", 3 a.m.",", 3:00 a.m.").str.replace(", 4 a.m.",", 4:00 a.m.").str.replace(", 5 a.m.",", 5:00 a.m.").str.replace(", 6 a.m.",", 6:00 a.m.").str.replace(", 7 a.m.",", 7:00 a.m.").str.replace(", 8 a.m.",", 8:00 a.m.").str.replace(", 9 a.m.",", 9:00 a.m.").str.replace(", 10 a.m.",", 10:00 a.m.").str.replace(", 11 a.m.",", 11:00 a.m.").str.replace(", 12 a.m.",", 12:00 a.m.").str.replace(", midnight",", 12:00 a.m.").str.replace(", noon",", 12:00 p.m.").str.replace("Sept","Sep")
tickets.head()

,assigned_to_id,category_id,completed_at,business_hours_opened,deadline,past_due,created_at,is_past_deadline
0,57758,30,"Nov. 30, 2020, 11:10 p.m.",5:53,"Dec. 1, 2020, 10:00 p.m.",NaN,"Nov. 30, 2020, 11:12 p.m.",False
1,57758,44,"Nov. 30, 2020, 3:11 p.m.",1:11,"Dec. 1, 2020, 12:04 a.m.",NaN,"Nov. 29, 2020, 4:04 a.m.",False
2,57758,39,"Nov. 30, 2020, 7:23 p.m.",5:23,"Dec. 1, 2020, 12:59 a.m.",NaN,"Nov. 30, 2020, 6:59 a.m.",False
3,96165,93,"Nov. 30, 2020, 9:16 p.m.",0:14,"Dec. 1, 2020, 2:02 p.m.",NaN,"Nov. 30, 2020, 9:02 p.m.",False
4,86335,4,"Nov. 30, 2020, 7:16 p.m.",3:08,"Dec. 1, 2020, 2:07 p.m.",NaN,"Nov. 30, 2020, 4:07 p.m.",False

In [5]:
tickets.to_csv('Tickets_Nov2.csv', index=False)

In [6]:
from csv import reader
opened_file = open('Tickets_Nov2.csv')
read_file = reader(opened_file)
tickets=list(read_file)
header=tickets[0]
tickets=tickets[1:]
print(header)
print(tickets[:5])
print(len(tickets))

['assigned_to_id', 'category_id', 'completed_at', 'business_hours_opened', 'deadline', 'past_due', 'created_at', 'is_past_deadline']
[['57758', '30', 'Nov. 30, 2020, 11:10 p.m.', '5:53', 'Dec. 1, 2020, 10:00 p.m.', '', 'Nov. 30, 2020, 11:12 p.m.', 'False'], ['57758', '44', 'Nov. 30, 2020, 3:11 p.m.', '1:11', 'Dec. 1, 2020, 12:04 a.m.', '', 'Nov. 29, 2020, 4:04 a.m.', 'False'], ['57758', '39', 'Nov. 30, 2020, 7:23 p.m.', '5:23', 'Dec. 1, 2020, 12:59 a.m.', '', 'Nov. 30, 2020, 6:59 a.m.', 'False'], ['96165', '93', 'Nov. 30, 2020, 9:16 p.m.', '0:14', 'Dec. 1, 2020, 2:02 p.m.', '', 'Nov. 30, 2020, 9:02 p.m.', 'False'], ['86335', '4', 'Nov. 30, 2020, 7:16 p.m.', '3:08', 'Dec. 1, 2020, 2:07 p.m.', '', 'Nov. 30, 2020, 4:07 p.m.', 'False']]
1921

In [7]:
# transforming business_hours_opened time interval from text to datetime format
import datetime as dt
for row in tickets:
    time_opened=row[3]
    time_opened=time_opened.replace(" day", "")
    row[3]=time_opened
    time_opened=row[3]
    time_opened=time_opened.replace("s", "")
    row[3]=time_opened
    
for row in tickets:
    time_opened=row[3]
    if ',' in time_opened:
        day, hrmn=time_opened.split(', ')
        hr, mn=hrmn.split(':')
        long=dt.timedelta(days=int(day), hours=int(hr), minutes=int(mn))
    else:
        hr, mn=time_opened.split(':')
        long=dt.timedelta(hours=int(hr), minutes=int(mn))
    row[3]=long
    
print(tickets[:5])
print(len(tickets))

[['57758', '30', 'Nov. 30, 2020, 11:10 p.m.', datetime.timedelta(seconds=21180), 'Dec. 1, 2020, 10:00 p.m.', '', 'Nov. 30, 2020, 11:12 p.m.', 'False'], ['57758', '44', 'Nov. 30, 2020, 3:11 p.m.', datetime.timedelta(seconds=4260), 'Dec. 1, 2020, 12:04 a.m.', '', 'Nov. 29, 2020, 4:04 a.m.', 'False'], ['57758', '39', 'Nov. 30, 2020, 7:23 p.m.', datetime.timedelta(seconds=19380), 'Dec. 1, 2020, 12:59 a.m.', '', 'Nov. 30, 2020, 6:59 a.m.', 'False'], ['96165', '93', 'Nov. 30, 2020, 9:16 p.m.', datetime.timedelta(seconds=840), 'Dec. 1, 2020, 2:02 p.m.', '', 'Nov. 30, 2020, 9:02 p.m.', 'False'], ['86335', '4', 'Nov. 30, 2020, 7:16 p.m.', datetime.timedelta(seconds=11280), 'Dec. 1, 2020, 2:07 p.m.', '', 'Nov. 30, 2020, 4:07 p.m.', 'False']]
1921

In [8]:
# Replace text time Locale's mark with Python strptime() Locale’s equivalent PM/AM
import datetime as dt
for row in tickets:
    cmpl=row[2]
    dl=row[4]
    crtd=row[6]
    cmpl=cmpl.replace("a.m.", "AM")
    cmpl=cmpl.replace("p.m.", "PM")
    dl=dl.replace("a.m.", "AM")
    dl=dl.replace("p.m.", "PM")
    crtd=crtd.replace("a.m.", "AM")
    crtd=crtd.replace("p.m.", "PM")
    row[2]=cmpl
    row[4]=dl
    row[6]=crtd
    
print(tickets[:5])
print(len(tickets))

[['57758', '30', 'Nov. 30, 2020, 11:10 PM', datetime.timedelta(seconds=21180), 'Dec. 1, 2020, 10:00 PM', '', 'Nov. 30, 2020, 11:12 PM', 'False'], ['57758', '44', 'Nov. 30, 2020, 3:11 PM', datetime.timedelta(seconds=4260), 'Dec. 1, 2020, 12:04 AM', '', 'Nov. 29, 2020, 4:04 AM', 'False'], ['57758', '39', 'Nov. 30, 2020, 7:23 PM', datetime.timedelta(seconds=19380), 'Dec. 1, 2020, 12:59 AM', '', 'Nov. 30, 2020, 6:59 AM', 'False'], ['96165', '93', 'Nov. 30, 2020, 9:16 PM', datetime.timedelta(seconds=840), 'Dec. 1, 2020, 2:02 PM', '', 'Nov. 30, 2020, 9:02 PM', 'False'], ['86335', '4', 'Nov. 30, 2020, 7:16 PM', datetime.timedelta(seconds=11280), 'Dec. 1, 2020, 2:07 PM', '', 'Nov. 30, 2020, 4:07 PM', 'False']]
1921

In [9]:
# Tranforming text timestamp to datetime format for completed_at timestamp
import datetime as dt
for row in tickets:
    cmpl_str=row[2]
    if ":" in cmpl_str and "." in cmpl_str:
        cmpl_dt=dt.datetime.strptime(cmpl_str, "%b. %d, %Y, %I:%M %p")
    elif ":" in cmpl_str and "." not in cmpl_str:
        cmpl_dt=dt.datetime.strptime(cmpl_str, "%B %d, %Y, %I:%M %p")
    elif ":" not in cmpl_str and "." in cmpl_str:
        cmpl_dt=dt.datetime.strptime(cmpl_str, "%b. %d, %Y, %I %p")
    elif ":" not in cmpl_str and "." not in cmpl_str:
        cmpl_dt=dt.datetime.strptime(cmpl_str, "%B %d, %Y, %I %p")
    row[2]=cmpl_dt
    
print(tickets[:5])
print(len(tickets))

[['57758', '30', datetime.datetime(2020, 11, 30, 23, 10), datetime.timedelta(seconds=21180), 'Dec. 1, 2020, 10:00 PM', '', 'Nov. 30, 2020, 11:12 PM', 'False'], ['57758', '44', datetime.datetime(2020, 11, 30, 15, 11), datetime.timedelta(seconds=4260), 'Dec. 1, 2020, 12:04 AM', '', 'Nov. 29, 2020, 4:04 AM', 'False'], ['57758', '39', datetime.datetime(2020, 11, 30, 19, 23), datetime.timedelta(seconds=19380), 'Dec. 1, 2020, 12:59 AM', '', 'Nov. 30, 2020, 6:59 AM', 'False'], ['96165', '93', datetime.datetime(2020, 11, 30, 21, 16), datetime.timedelta(seconds=840), 'Dec. 1, 2020, 2:02 PM', '', 'Nov. 30, 2020, 9:02 PM', 'False'], ['86335', '4', datetime.datetime(2020, 11, 30, 19, 16), datetime.timedelta(seconds=11280), 'Dec. 1, 2020, 2:07 PM', '', 'Nov. 30, 2020, 4:07 PM', 'False']]
1921

In [10]:
# Tranforming text timestamp to datetime format for deadline timestamp
import datetime as dt
for row in tickets:
    dl_str=row[4]
    if ":" in dl_str and "." in dl_str:
        dl_dt=dt.datetime.strptime(dl_str, "%b. %d, %Y, %I:%M %p")
    elif ":" in dl_str and "." not in dl_str:
        dl_dt=dt.datetime.strptime(dl_str, "%B %d, %Y, %I:%M %p")
    elif ":" not in dl_str and "." in dl_str:
        dl_dt=dt.datetime.strptime(dl_str, "%b. %d, %Y, %I %p")
    elif ":" not in dl_str and "." not in dl_str:
        dl_dt=dt.datetime.strptime(dl_str, "%B %d, %Y, %I %p")
    row[4]=dl_dt
print(tickets[:5])
print(len(tickets))

[['57758', '30', datetime.datetime(2020, 11, 30, 23, 10), datetime.timedelta(seconds=21180), datetime.datetime(2020, 12, 1, 22, 0), '', 'Nov. 30, 2020, 11:12 PM', 'False'], ['57758', '44', datetime.datetime(2020, 11, 30, 15, 11), datetime.timedelta(seconds=4260), datetime.datetime(2020, 12, 1, 0, 4), '', 'Nov. 29, 2020, 4:04 AM', 'False'], ['57758', '39', datetime.datetime(2020, 11, 30, 19, 23), datetime.timedelta(seconds=19380), datetime.datetime(2020, 12, 1, 0, 59), '', 'Nov. 30, 2020, 6:59 AM', 'False'], ['96165', '93', datetime.datetime(2020, 11, 30, 21, 16), datetime.timedelta(seconds=840), datetime.datetime(2020, 12, 1, 14, 2), '', 'Nov. 30, 2020, 9:02 PM', 'False'], ['86335', '4', datetime.datetime(2020, 11, 30, 19, 16), datetime.timedelta(seconds=11280), datetime.datetime(2020, 12, 1, 14, 7), '', 'Nov. 30, 2020, 4:07 PM', 'False']]
1921

In [11]:
# Tranforming text timestamp to datetime format for created_at timestamp
import datetime as dt
for row in tickets:
    created_str=row[6]
    if ":" in created_str and "." in created_str:
        cr_dt=dt.datetime.strptime(created_str, "%b. %d, %Y, %I:%M %p")
    elif ":" in created_str and "." not in created_str:
        cr_dt=dt.datetime.strptime(created_str, "%B %d, %Y, %I:%M %p")
    elif ":" not in created_str and "." in created_str:
        cr_dt=dt.datetime.strptime(created_str, "%b. %d, %Y, %I %p")
    elif ":" not in created_str and "." not in created_str:
        cr_dt=dt.datetime.strptime(created_str, "%B %d, %Y, %I %p")
    row[6]=cr_dt
print(tickets[:5])
print(len(tickets))

[['57758', '30', datetime.datetime(2020, 11, 30, 23, 10), datetime.timedelta(seconds=21180), datetime.datetime(2020, 12, 1, 22, 0), '', datetime.datetime(2020, 11, 30, 23, 12), 'False'], ['57758', '44', datetime.datetime(2020, 11, 30, 15, 11), datetime.timedelta(seconds=4260), datetime.datetime(2020, 12, 1, 0, 4), '', datetime.datetime(2020, 11, 29, 4, 4), 'False'], ['57758', '39', datetime.datetime(2020, 11, 30, 19, 23), datetime.timedelta(seconds=19380), datetime.datetime(2020, 12, 1, 0, 59), '', datetime.datetime(2020, 11, 30, 6, 59), 'False'], ['96165', '93', datetime.datetime(2020, 11, 30, 21, 16), datetime.timedelta(seconds=840), datetime.datetime(2020, 12, 1, 14, 2), '', datetime.datetime(2020, 11, 30, 21, 2), 'False'], ['86335', '4', datetime.datetime(2020, 11, 30, 19, 16), datetime.timedelta(seconds=11280), datetime.datetime(2020, 12, 1, 14, 7), '', datetime.datetime(2020, 11, 30, 16, 7), 'False']]
1921

In [12]:
# Defining past_due value based on condition between completed_at and deadline timestampts
import datetime as dt
for row in tickets:
    if row[2]>row[4]:
        row[5]="past due"
    else:
        row[5]="on time"
print(tickets[:5])
print(len(tickets))

[['57758', '30', datetime.datetime(2020, 11, 30, 23, 10), datetime.timedelta(seconds=21180), datetime.datetime(2020, 12, 1, 22, 0), 'on time', datetime.datetime(2020, 11, 30, 23, 12), 'False'], ['57758', '44', datetime.datetime(2020, 11, 30, 15, 11), datetime.timedelta(seconds=4260), datetime.datetime(2020, 12, 1, 0, 4), 'on time', datetime.datetime(2020, 11, 29, 4, 4), 'False'], ['57758', '39', datetime.datetime(2020, 11, 30, 19, 23), datetime.timedelta(seconds=19380), datetime.datetime(2020, 12, 1, 0, 59), 'on time', datetime.datetime(2020, 11, 30, 6, 59), 'False'], ['96165', '93', datetime.datetime(2020, 11, 30, 21, 16), datetime.timedelta(seconds=840), datetime.datetime(2020, 12, 1, 14, 2), 'on time', datetime.datetime(2020, 11, 30, 21, 2), 'False'], ['86335', '4', datetime.datetime(2020, 11, 30, 19, 16), datetime.timedelta(seconds=11280), datetime.datetime(2020, 12, 1, 14, 7), 'on time', datetime.datetime(2020, 11, 30, 16, 7), 'False']]
1921

In [13]:
# Excluding tickets with deadline timestampt set on holidays
tickets_hol=[]
tickets_clean=[]
for row in tickets:
    if dt.datetime(2020,11, 28, 8)>row[4]>=dt.datetime(2020, 11, 26, 7):
        tickets_hol.append(row)
    else:
        tickets_clean.append(row)
print(len(tickets_hol))
print(len(tickets_clean))

50
1871

In [14]:
tickets=tickets_clean
print(len(tickets))

1871

In [15]:
# Counting qty ticket distribution among agents, categories and expired status
users={}
categories={}
past_due={}
for row in tickets:
    agent=row[0]
    category=row[1]
    past=row[5]
    if agent not in users:
        users[agent]=1
    else:
        users[agent]+=1
    if category not in categories:
        categories[category]=1
    else:
        categories[category]+=1
    if past not in past_due:
        past_due[past]=1
    else:
        past_due[past]+=1
    
print(users)
print('\n')
print(categories)
print('\n')
print(past_due)

{'57758': 663, '96165': 523, '86335': 508, '86875': 177}


{'30': 78, '44': 345, '39': 875, '93': 123, '4': 394, '43': 56}


{'on time': 1645, 'past due': 226}

Assignee:
- 100339 - Agent1
- 86335 - Agent2
- 86875 - Agent3
- 57758 - Agent4
- 96165 - Agent5

Cetagories:
- 39 - Category1
- 4 - Category2
- 43 - Category3
- 44 - Category4
- 30 - Category5
- 93 - Category6
- 45 - Category7

# AGENTS STATS

In [16]:
# Counting qty of overall completed tickets, qty of past due tickets and qty of completed on time tickets by agent1
agent1_past_due={}
agent1_on_time={}
agent1_past_due['86875']=0
agent1_on_time['86875']=0
for row in tickets:
    agent=row[0]
    past=row[5]
    if agent=='86875'and past=='past due':
        if agent not in agent1_past_due:
            agent1_past_due[agent]=1
        else:
            agent1_past_due[agent]+=1       
    elif agent=='86875'and past=='on time':     
        if agent not in agent1_on_time:
            agent1_on_time[agent]=1
        else:
            agent1_on_time[agent]+=1 
agent1_count=agent1_past_due['86875']+agent1_on_time['86875']
print("Agent1 Past due: ", agent1_past_due)
print("Agent1 On time: ", agent1_on_time)
print("Agent1 Number of tickets: ", agent1_count)

Agent1 Past due:  {'86875': 11}
Agent1 On time:  {'86875': 166}
Agent1 Number of tickets:  177

In [17]:
# Counting average time completion of all completed tickets by agent1
sum_sec=dt.timedelta(0)
for row in tickets:
    agent=row[0]
    time=row[3]
    if agent1_count >0:
        if agent=='86875':
            sum_sec=sum_sec+time
            avg=sum_sec/agent1_count
    else:
        avg=0
print(sum_sec)    
print(avg)

12 days, 17:39:00
1:43:36.610169

In [18]:
# Counting qty of overall completed tickets, qty of past due tickets and qty of completed on time tickets by agent2
agent2_past_due={}
agent2_on_time={}
agent2_past_due['57758']=0
agent2_on_time['57758']=0
for row in tickets:
    agent=row[0]
    past=row[5]
    if agent=='57758'and past=='past due':
        if agent not in agent2_past_due:
            agent2_past_due[agent]=1
        else:
            agent2_past_due[agent]+=1       
    elif agent=='57758'and past=='on time':     
        if agent not in agent2_on_time:
            agent2_on_time[agent]=1
        else:
            agent2_on_time[agent]+=1 
agent2_count=agent2_past_due['57758']+agent2_on_time['57758']
print("Agent2 Past due: ", agent2_past_due)
print("Agent2 On tine: ", agent2_on_time)
print("Agent2 Number of tickets: ", agent2_count)

Agent2 Past due:  {'57758': 52}
Agent2 On tine:  {'57758': 611}
Agent2 Number of tickets:  663

In [19]:
# Counting average time completion of all completed tickets by agent2
sum_sec=dt.timedelta(0)
for row in tickets:
    agent=row[0]
    time=row[3]
    if agent2_count >0:
        if agent=='57758':
            sum_sec=sum_sec+time
            avg=sum_sec/agent2_count
    else:
        avg=0
print(sum_sec)    
print(avg)

83 days, 15:22:00
3:01:39.728507

In [20]:
# Counting qty of overall completed tickets, qty of past due tickets and qty of completed on time tickets by agent3
agent3_past_due={}
agent3_on_time={}
agent3_past_due['96165']=0
agent3_on_time['96165']=0
for row in tickets:
    agent=row[0]
    past=row[5]
    if agent=='96165'and past=='past due':
        if agent not in agent3_past_due:
            agent3_past_due[agent]=1
        else:
            agent3_past_due[agent]+=1       
    elif agent=='96165'and past=='on time':     
        if agent not in agent3_on_time:
            agent3_on_time[agent]=1
        else:
            agent3_on_time[agent]+=1 
agent3_count=agent3_past_due['96165']+agent3_on_time['96165']
print("Agent3 Past due: ", agent3_past_due)
print("Agent3 On tine: ", agent3_on_time)
print("Agent3 Number of tickets: ", agent3_count)

Agent3 Past due:  {'96165': 80}
Agent3 On tine:  {'96165': 443}
Agent3 Number of tickets:  523

In [21]:
# Counting average time completion of all completed tickets by agent3
sum_sec=dt.timedelta(0)
for row in tickets:
    agent=row[0]
    time=row[3]
    if agent3_count >0:
        if agent=='96165':
            sum_sec=sum_sec+time
            avg=sum_sec/agent3_count
    else:
        avg=0
print(sum_sec)    
print(avg)

46 days, 8:35:00
2:07:38.317400

In [22]:
# Counting qty of overall completed tickets, qty of past due tickets and qty of completed on time tickets by agent4
agent4_past_due={}
agent4_on_time={}
for row in tickets:
    agent=row[0]
    past=row[5]
    if agent=='86335'and past=='past due':
        if agent not in agent4_past_due:
            agent4_past_due[agent]=1
        else:
            agent4_past_due[agent]+=1       
    elif agent=='86335'and past=='on time':     
        if agent not in agent4_on_time:
            agent4_on_time[agent]=1
        else:
            agent4_on_time[agent]+=1 
agent4_count=agent4_past_due['86335']+agent4_on_time['86335']
print("Agent4 Past due: ", agent4_past_due)
print("Agent4 On tine: ", agent4_on_time)
print("Agent4 Number of tickets: ", agent4_count)

Agent4 Past due:  {'86335': 83}
Agent4 On tine:  {'86335': 425}
Agent4 Number of tickets:  508

In [23]:
# Counting average time completion of all completed tickets by agent4
sum_sec=dt.timedelta(0)
for row in tickets:
    agent=row[0]
    time=row[3]
    if agent4_count >0:
        if agent=='86335':
            sum_sec=sum_sec+time
            avg=sum_sec/agent4_count
    else:
        avg=0
print(sum_sec)    
print(avg)

39 days, 20:22:00
1:52:57.401575

# CATEGORIES STATS

In [24]:
# Counting qty of overall completed tickets, qty of past due tickets and qty of completed on time tickets by all agents 
# in Category1
Category1_past_due={}
Category1_on_time={}
Category1_past_due["39"]=0
Category1_on_time["39"]=0
for row in tickets:
    category=row[1]
    past=row[5]
    agent=row[0]
    created_at=row[6]
    #if ((agent=='96165' and created_at>dt.datetime(2020, 2, 23)) or (agent=='89307' and created_at<dt.datetime(2020, 2, 11)) or (agent=='100339' and created_at<dt.datetime(2020, 2, 24)))==False:
    if category=='39'and past=='past due':
        if category not in Category1_past_due:
            Category1_past_due[category]=1
        else:
            Category1_past_due[category]+=1       
    elif category=='39'and past=='on time':     
        if category not in Category1_on_time:
            Category1_on_time[category]=1
        else:
            Category1_on_time[category]+=1 
Category1_count=Category1_past_due["39"]+Category1_on_time["39"]
print("Category1 Past due: ", Category1_past_due)
print("Category1 On time: ", Category1_on_time)
print("Category1 Number of tickets: ", Category1_count)

Category1 Past due:  {'39': 154}
Category1 On time:  {'39': 721}
Category1 Number of tickets:  875

In [25]:
# Counting average time completion of all completed tickets by all agents in Category1
sum_sec=dt.timedelta(0)
for row in tickets:
    category=row[1]
    time=row[3]
    agent=row[0]
    created_at=row[6]
    #if ((agent=='96165' and created_at>dt.datetime(2020, 2, 23)) or (agent=='89307' and created_at<dt.datetime(2020, 2, 11)) or (agent=='100339' and created_at<dt.datetime(2020, 2, 24)))==False:
    if Category1_count >0:
        if category=='39':
            sum_sec=sum_sec+time
            avg=sum_sec/Category1_count
    else:
        avg=0
print(sum_sec)    
print(avg)

88 days, 17:17:00
2:26:00.480000

In [26]:
# Counting qty of overall completed tickets, qty of past due tickets and qty of completed on time tickets by all agents 
# in Category2
Category2_past_due={}
Category2_on_time={}
Category2_past_due['4']=0
Category2_on_time['4']=0
for row in tickets:
    category=row[1]
    past=row[5]
    agent=row[0]
    created_at=row[6]
    #if ((agent=='96165' and created_at>dt.datetime(2020, 2, 23)) or (agent=='89307' and created_at<dt.datetime(2020, 2, 11)) or (agent=='100339' and created_at<dt.datetime(2020, 2, 24)))==False:
    if category=='4'and past=='past due':
        if category not in Category2_past_due:
            Category2_past_due[category]=1
        else:
            Category2_past_due[category]+=1       
    elif category=='4'and past=='on time':     
        if category not in Category2_on_time:
            Category2_on_time[category]=1
        else:
            Category2_on_time[category]+=1 
Category2_count=Category2_past_due['4']+Category2_on_time['4']
print("Category2 Past due: ", Category2_past_due)
print("Category2 On time: ", Category2_on_time)
print("Category2 Number of tickets: ", Category2_count)

Category2 Past due:  {'4': 17}
Category2 On time:  {'4': 377}
Category2 Number of tickets:  394

In [27]:
# Counting average time completion of all completed tickets by all agents in Category2
sum_sec=dt.timedelta(0)
for row in tickets:
    category=row[1]
    time=row[3]
    agent=row[0]
    created_at=row[6]
    #if ((agent=='96165' and created_at>dt.datetime(2020, 2, 23)) or (agent=='89307' and created_at<dt.datetime(2020, 2, 11)) or (agent=='100339' and created_at<dt.datetime(2020, 2, 24)))==False:
    if Category2_count >0:
        if category=='4':
            sum_sec=sum_sec+time
            avg=sum_sec/Category2_count
    else:
        avg=0
print(sum_sec)    
print(avg)

30 days, 9:39:00
1:51:06.852792

In [28]:
# Counting qty of overall completed tickets, qty of past due tickets and qty of completed on time tickets by all agents 
# in Category3
Category3_past_due={}
Category3_on_time={}
Category3_past_due['43']=0
Category3_on_time['43']=0
for row in tickets:
    category=row[1]
    past=row[5]
    agent=row[0]
    created_at=row[6]
    #if ((agent=='96165' and created_at>dt.datetime(2020, 2, 23)) or (agent=='89307' and created_at<dt.datetime(2020, 2, 11)) or (agent=='100339' and created_at<dt.datetime(2020, 2, 24)))==False:
    if category=='43'and past=='past due':
        if category not in Category3_past_due:
            Category3_past_due[category]=1
        else:
            Category3_past_due[category]+=1       
    elif category=='43'and past=='on time':     
        if category not in Category3_on_time:
            Category3_on_time[category]=1
        else:
            Category3_on_time[category]+=1 
Category3_count=Category3_past_due['43']+Category3_on_time['43']
print("Category3 Past due: ", Category3_past_due)
print("Category3 On time: ", Category3_on_time)
print("Category3 Number of tickets: ", Category3_count)

Category3 Past due:  {'43': 7}
Category3 On time:  {'43': 49}
Category3 Number of tickets:  56

In [29]:
# Counting average time completion of all completed tickets by all agents in Category3
sum_sec=dt.timedelta(0)
for row in tickets:
    category=row[1]
    time=row[3]
    agent=row[0]
    created_at=row[6]
    #if ((agent=='96165' and created_at>dt.datetime(2020, 2, 23)) or (agent=='89307' and created_at<dt.datetime(2020, 2, 11)) or (agent=='100339' and created_at<dt.datetime(2020, 2, 24)))==False:
    if Category3_count >0:
        if category=='43':
            sum_sec=sum_sec+time
            avg=sum_sec/Category3_count
    else:
        avg=0
print(sum_sec)    
print(avg)

3 days, 22:58:00
1:41:45

In [30]:
# Counting qty of overall completed tickets, qty of past due tickets and qty of completed on time tickets by all agents 
# in Category4
Category4_past_due={}
Category4_on_time={}
Category4_past_due['44']=0
Category4_on_time['44']=0
for row in tickets:
    category=row[1]
    past=row[5]
    agent=row[0]
    created_at=row[6]
    #if ((agent=='96165' and created_at>dt.datetime(2020, 2, 23)) or (agent=='89307' and created_at<dt.datetime(2020, 2, 11)) or (agent=='100339' and created_at<dt.datetime(2020, 2, 24)))==False:
    if category=='44'and past=='past due':
        if category not in Category4_past_due:
            Category4_past_due[category]=1
        else:
            Category4_past_due[category]+=1       
    elif category=='44'and past=='on time':     
        if category not in Category4_on_time:
            Category4_on_time[category]=1
        else:
            Category4_on_time[category]+=1 
Category4_count=Category4_past_due['44']+Category4_on_time['44']
print("Category4 Past due: ", Category4_past_due)
print("Category4 On time: ", Category4_on_time)
print("Category4 Number of tickets: ", Category4_count)

Category4 Past due:  {'44': 28}
Category4 On time:  {'44': 317}
Category4 Number of tickets:  345

In [31]:
# Counting average time completion of all completed tickets by all agents in Category4
sum_sec=dt.timedelta(0)
for row in tickets:
    category=row[1]
    time=row[3]
    agent=row[0]
    created_at=row[6]
    #if ((agent=='96165' and created_at>dt.datetime(2020, 2, 23)) or (agent=='89307' and created_at<dt.datetime(2020, 2, 11)) or (agent=='100339' and created_at<dt.datetime(2020, 2, 24)))==False:
    if Category4_count >0:
        if category=='44':
            sum_sec=sum_sec+time
            avg=sum_sec/Category4_count
    else:
        avg=0
print(sum_sec)    
print(avg)

33 days, 9:06:00
2:19:19.304348

In [32]:
# Counting qty of overall completed tickets, qty of past due tickets and qty of completed on time tickets by all agents 
# in Category5
Category5_past_due={}
Category5_on_time={}
Category5_past_due['30']=0
Category5_on_time['30']=0
for row in tickets:
    category=row[1]
    past=row[5]
    agent=row[0]
    created_at=row[6]
    #if ((agent=='96165' and created_at>dt.datetime(2020, 2, 23)) or (agent=='89307' and created_at<dt.datetime(2020, 2, 11)) or (agent=='100339' and created_at<dt.datetime(2020, 2, 24)))==False:
    if category=='30'and past=='past due':
        if category not in Category5_past_due:
            Category5_past_due[category]=1
        else:
            Category5_past_due[category]+=1       
    elif category=='30'and past=='on time':     
        if category not in Category5_on_time:
            Category5_on_time[category]=1
        else:
            Category5_on_time[category]+=1 
Category5_count=Category5_past_due['30']+Category5_on_time['30']
print("Category5 Past due: ", Category5_past_due)
print("Category5 On time: ", Category5_on_time)
print("Category5 Number of tickets: ", Category5_count)

Category5 Past due:  {'30': 15}
Category5 On time:  {'30': 63}
Category5 Number of tickets:  78

In [33]:
# Counting average time completion of all completed tickets by all agents in Category5
sum_sec=dt.timedelta(0)
for row in tickets:
    category=row[1]
    time=row[3]
    agent=row[0]
    created_at=row[6]
    #if ((agent=='96165' and created_at>dt.datetime(2020, 2, 23)) or (agent=='89307' and created_at<dt.datetime(2020, 2, 11)) or (agent=='100339' and created_at<dt.datetime(2020, 2, 24)))==False:
    if Category5_count >0:
        if category=='30':
            sum_sec=sum_sec+time
            avg=sum_sec/Category5_count
    else:
        avg=0
print(sum_sec)    
print(avg)

21 days, 14:54:00
6:39:09.230769

In [34]:
# Counting qty of overall completed tickets, qty of past due tickets and qty of completed on time tickets by all agents 
# in Category6
Category6_past_due={}
Category6_on_time={}
Category6_past_due['93']=0
Category6_on_time['93']=0
for row in tickets:
    category=row[1]
    past=row[5]
    agent=row[0]
    created_at=row[6]
    #if ((agent=='96165' and created_at>dt.datetime(2020, 2, 23)) or (agent=='89307' and created_at<dt.datetime(2020, 2, 11)) or (agent=='100339' and created_at<dt.datetime(2020, 2, 24)))==False:
    if category=='93' and past=='past due':
        if category not in Category6_past_due:
            Category6_past_due[category]=1
        else:
            Category6_past_due[category]+=1       
    elif category=='93' and past=='on time':     
        if category not in Category6_on_time:
            Category6_on_time[category]=1
        else:
            Category6_on_time[category]+=1 
Category6_count=Category6_past_due['93']+Category6_on_time['93']
print("Category6 Past due: ", Category6_past_due)
print("Category6 On time: ", Category6_on_time)
print("Category6 Number of tickets: ", Category6_count)

Category6 Past due:  {'93': 5}
Category6 On time:  {'93': 118}
Category6 Number of tickets:  123

In [35]:
# Counting average time completion of all completed tickets by all agents in Category6
sum_sec=dt.timedelta(0)
for row in tickets:
    category=row[1]
    time=row[3]
    agent=row[0]
    created_at=row[6]
    #if ((agent=='96165' and created_at>dt.datetime(2020, 2, 23)) or (agent=='89307' and created_at<dt.datetime(2020, 2, 11)) or (agent=='100339' and created_at<dt.datetime(2020, 2, 24)))==False:
    if Category6_count >0:
        if category=='93':
            sum_sec=sum_sec+time
            avg=sum_sec/Category6_count
    else:
        avg=0
print(sum_sec)    
print(avg)

4 days, 12:04:00
0:52:42.926829

In [36]:
# Counting qty of overall completed tickets, qty of past due tickets and qty of completed on time tickets by all agents 
# in Category7
Category7_past_due={}
Category7_on_time={}
Category7_past_due['45']=0
Category7_on_time['45']=0
for row in tickets:
    category=row[1]
    past=row[5]
    agent=row[0]
    created_at=row[6]
    #if ((agent=='96165' and created_at>dt.datetime(2020, 2, 23)) or (agent=='89307' and created_at<dt.datetime(2020, 2, 11)) or (agent=='100339' and created_at<dt.datetime(2020, 2, 24)))==False:
    if category=='45' and past=='past due':
        if category not in Category7_past_due:
            Category7_past_due[category]=1
        else:
            Category7_past_due[category]+=1       
    elif category=='45' and past=='on time':     
        if category not in Category7_on_time:
            Category7_on_time[category]=1
        else:
            Category7_on_time[category]+=1 
Category7_count=Category7_past_due['45']+Category7_on_time['45']
print("Category7 Past due: ", Category7_past_due)
print("Category7 On time: ", Category7_on_time)
print("Category7 Number of tickets: ", Category7_count)

Category7 Past due:  {'45': 0}
Category7 On time:  {'45': 0}
Category7 Number of tickets:  0

In [37]:
# Counting average time completion of all completed tickets by all agents in Category7
sum_sec=dt.timedelta(0)
for row in tickets:
    category=row[1]
    time=row[3]
    agent=row[0]
    created_at=row[6]
    #if ((agent=='96165' and created_at>dt.datetime(2020, 2, 23)) or (agent=='89307' and created_at<dt.datetime(2020, 2, 11)) or (agent=='100339' and created_at<dt.datetime(2020, 2, 24)))==False:
    if Category7_count >0:
        if category=='45':
            sum_sec=sum_sec+time
            avg=sum_sec/Category7_count
    else:
        avg=0
print(sum_sec)    
print(avg)

0:00:00
0

# NIGHT TICKETS

In [38]:
import pandas as pd
tickets = pd.DataFrame(tickets)
new_columns=["assigned_to", "category", "completed_at", "business_hours_opened", "deadline", "past_due", 'created_at', 'is_past_deadline']
tickets.columns=new_columns
tickets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1871 entries, 0 to 1870
Data columns (total 8 columns):
assigned_to              1871 non-null object
category                 1871 non-null object
completed_at             1871 non-null datetime64[ns]
business_hours_opened    1871 non-null timedelta64[ns]
deadline                 1871 non-null datetime64[ns]
past_due                 1871 non-null object
created_at               1871 non-null datetime64[ns]
is_past_deadline         1871 non-null object
dtypes: datetime64[ns](3), object(4), timedelta64[ns](1)
memory usage: 117.1+ KB

In [39]:
# Taking the whole hour values from created_at and deadline timestamps
tickets["crt_hrs"]=tickets["created_at"].dt.hour
tickets["dl_hrs"]=tickets["deadline"].dt.hour
tickets.head()

,assigned_to,category,completed_at,business_hours_opened,deadline,past_due,created_at,is_past_deadline,crt_hrs,dl_hrs
0,57758,30,2020-11-30 23:10:00,05:53:00,2020-12-01 22:00:00,on time,2020-11-30 23:12:00,False,23,22
1,57758,44,2020-11-30 15:11:00,01:11:00,2020-12-01 00:04:00,on time,2020-11-29 04:04:00,False,4,0
2,57758,39,2020-11-30 19:23:00,05:23:00,2020-12-01 00:59:00,on time,2020-11-30 06:59:00,False,6,0
3,96165,93,2020-11-30 21:16:00,00:14:00,2020-12-01 14:02:00,on time,2020-11-30 21:02:00,False,21,14
4,86335,4,2020-11-30 19:16:00,03:08:00,2020-12-01 14:07:00,on time,2020-11-30 16:07:00,False,16,14

In [40]:
pd.options.display.max_rows = 30
print(tickets["crt_hrs"].value_counts())
print('\n')
print(tickets["dl_hrs"].value_counts())

18    192
19    179
20    173
16    173
15    159
17    154
14    134
21    125
13     86
22     75
23     73
12     45
9      42
8      34
11     33
7      32
0      32
3      24
1      24
6      22
2      18
5      16
10     15
4      11
Name: crt_hrs, dtype: int64


22    219
15    215
17    198
18    195
21    166
23    164
19    161
20    159
14    154
16    151
3      19
1      19
0      13
5      11
2      10
6       6
4       4
7       3
9       2
8       1
10      1
Name: dl_hrs, dtype: int64

- Tickets cretaed at: 5PM to 6AM PST that is 1AM-2PM UTC = 01:00 - 14:00
- Tickets deadline set at: 5PM to 6AM PST that is 1AM-2PM UTC = 01:00 - 14:00

In [41]:
# Defining past due night tickets created during above UTC time intervals via category distribution
night_t_crt=(tickets["crt_hrs"]>=1) & (tickets["crt_hrs"]<14) & (tickets["past_due"]=="past due")
print(tickets.loc[night_t_crt, "crt_hrs"].shape)
night_tickets=tickets.loc[night_t_crt]  
pd.options.display.max_rows = 20
night_tickets["category"].value_counts()

(63,)

39    54
44     4
4      3
30     2
Name: category, dtype: int64

In [42]:
# Defining past due night tickets having deadline time during above UTC time intervals via category distribution
night_t_dl=(tickets["dl_hrs"]>=1) & (tickets["dl_hrs"]<14) & (tickets["past_due"]=="past due")
print(tickets.loc[night_t_dl, "dl_hrs"].shape)
night_tickets=tickets.loc[night_t_dl]  
pd.options.display.max_rows = 20
night_tickets["category"].value_counts()

(0,)

Series([], Name: category, dtype: int64)